.topbar {
  width: 100%;
  margin-top: 40px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
  }

  &__left,
  &__right {
    flex-shrink: 0;
  }

  &__logo{
    width: 159px;
    height: 44px;
  }

  &__nav {
    display: inline-flex;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    gap: 80px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    font-family: "Bounded";
    font-weight: 400;
  }

}