.dashboard{
    margin-top: 250px;
    overflow: hidden;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    &__header{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title{
            font-family: "Bounded";
            font-size: 40px;
            line-height: 100%;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 40px;

            @include media-breakpoint-down(xxl){
                margin-bottom: 60px;
            }

            @include media-breakpoint-down(xl){
                font-size: 32px;
                margin-bottom: 40px;
            }

            @include media-breakpoint-down(lg){
                font-size: 40px;
                margin-bottom: 80px;
            }

            @include media-breakpoint-down(md){
                font-size: 20px;
                margin-bottom: 16px;
            }
        }

        &-label{
            width: 685px;
            font-family: "Onest";
            font-size: 24px;
            line-height: 160%;
            text-align: center;
            margin-bottom: 80px;

            @include media-breakpoint-down(xxl){
                margin-bottom: 40px;
            }

            @include media-breakpoint-down(xl){
                font-size: 16px;
            }

            @include media-breakpoint-down(lg){
                font-size: 24px;
                margin-bottom: 50px;
                width: 100%;
            }

            @include media-breakpoint-down(md){
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        &-button{
            width: 674px;
            padding: 22px;

            @include media-breakpoint-down(xxl){
                width: 684px;
            }

            @include media-breakpoint-down(xl){
                width: 450px;
                padding: 16px;
            }

            @include media-breakpoint-down(lg){
                width: 100%;
                padding: 22px;
            }

            @include media-breakpoint-down(md){
                display: none;
            }
        }
    }

    &__body{
        position: relative;
        height: 1110px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;

        @include media-breakpoint-down(xxl){
            height: 815px;
        }

        @include media-breakpoint-down(xl){
            height: 562px;
        }

        @include media-breakpoint-down(lg){
            height: 435px;
        }

        @include media-breakpoint-down(lg){
            height: 369px;
        }

        &-light{
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;

            &::before{
                content: '';
                position: absolute;
                background: $color-turquoise;
                filter: blur(40px);
            }

            &::before{
                width: 100%;
                height: 140px;
                opacity: 0.6;
                border-radius: 50%;
            }
        }

        &-mockup{
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;

            &::after,
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 140px;
                height: 75%;
                background: radial-gradient(70% 60% at 50% 50%, rgba($color-turquoise, 0.9) 0%, rgba($color-turquoise, 0) 100%);
                filter: blur(40px);
                z-index: 0;
                opacity: 0.9;
            }

            &::before{
                left: -80px;
            }

            &::after{
                right: -80px;
            }

            &-image{
                position: relative;
                z-index: 1;
                height: 100%;
                width: auto;
                display: block;
            }

        }
    }
}
