.signals{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 340px;

        @include media-breakpoint-down(xxl){
            gap: 285px;
        }

        @include media-breakpoint-down(xxl){
            gap: 205px;
        }

        @include media-breakpoint-down(lg){
            align-items: flex-start;
            gap: 100px;
        }

        @include media-breakpoint-down(md){
            flex-direction: column;
            gap: 40px;
        }
    }

    &__title{
        text-align: left;
        font-size: 48px;
        font-weight: 400;
        font-family: "Bounded";
        line-height: 160%;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include media-breakpoint-down(xxl){
            width: auto;
            font-size: 32px;
        }

        @include media-breakpoint-down(xl){
            font-size: 24px;
        }

        @include media-breakpoint-down(lg){
            font-size: 16px;
        }

        @include media-breakpoint-down(md){
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        span{
            color: $color-turquoise;
            text-shadow:
                0 0 12px rgba(255, 255, 255, 0.5);

            @include media-breakpoint-down(md){
                font-size: 20px;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 190px;

        @include media-breakpoint-down(xxl){
            width: auto;
            gap: 90px;
        }

        @include media-breakpoint-down(xl){
            gap: 80px;
        }

        @include media-breakpoint-down(lg){
            gap: 88px;
        }

        @include media-breakpoint-down(md){
            width: 85%;
            gap: 60px;
        }

        &-item{
            font-family: "Bounded";
            font-weight: 200;
            font-size: 32px;
            line-height: 160%;
            opacity: 0.6;
            text-align: right;
            margin: 0;

            @include media-breakpoint-down(xxl){
                font-size: 24px;
            }

            @include media-breakpoint-down(xl){
                font-size: 16px;
            }

            @include media-breakpoint-down(md){
                font-size: 20px;
            }

            @include media-breakpoint-down(sm){
                font-size: 18px;
            }
        }
    }


}
