.calculator {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
    margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
    margin-top: 200px;
  }

  @include media-breakpoint-down(md){
    margin-top: 160px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__header{
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    font-family: "Bounded";
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include media-breakpoint-down(xl){
      font-size: 32px;
    }

    @include media-breakpoint-down(md){
      font-size: 20px;
    }
  }

  &__note {
    margin: 0;
    gap: 8px;
    color: rgba(255, 255, 255, 0.75);
    font-family: "Onest";

    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      color: $color-accent;
      font-size: 64px;
      line-height: 100%;

      @include media-breakpoint-down(lg){
        font-size: 36px;
      }
    }

    &-text{
      width: 390px;
      font-size: 20px;
      text-align: left;
      margin: 0;

      @include media-breakpoint-down(lg){
        font-size: 14px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 40px;
    background-color: $color-bg;
    box-shadow: inset 0 0 20px #00CFB140;
    padding: 80px;
    
    @include media-breakpoint-down(xxl){
      padding: 80px 40px;
    }

    @include media-breakpoint-down(xl){
      padding: 60px 40px;
    }

    @include media-breakpoint-down(lg){
      padding: 24px;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }

  &__tab {
    padding: 16px 36px;
    border-radius: 90px;
    border: none;
    background: transparent;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 16px;
    background-color: $color-dark-green;

    &--active {
      background-color: $color-turquoise;
    }

    @include media-breakpoint-down(lg){
      font-size: 10px;
      padding: 12px 16px;
    }
  }

  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 166px;

    @include media-breakpoint-down(xl){
      flex-direction: column;
      gap: 40px;
    }
  }

  &__controls{
    flex: 9;
    display: flex;
    gap: 166px;

    @include media-breakpoint-down(xxl){
      flex: auto;
      width: 100%;
      gap: 190px;
    }

    @include media-breakpoint-down(xl){
      gap: 80px;
    }

    @include media-breakpoint-down(lg){
      flex-direction: column;
      gap: 40px;
    }
  }

  &__column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include media-breakpoint-down(md){
      flex-direction: column;
    }
  }

  &__field {
    &-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "Onest";
      margin-bottom: 12px;
      gap: 12px;
    }

    &-label {
      font-size: 16px;
      color: $color-white;
      opacity: 0.6;
      margin-bottom: 12px;
    }

    &-value {
      font-size: 18px;
      font-weight: 700;
      color: $color-white;
      white-space: nowrap;
    }

    input[type="range"] {
      width: 100%;
      height: 6px;
      accent-color: $color-turquoise;
      background: linear-gradient(90deg, rgba(0, 207, 177, 0.6), rgba(255, 255, 255, 0.1));
      border-radius: 999px;
      outline: none;
    }
  }

  &__result {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include media-breakpoint-down(xl){
      flex: auto;
      width: 100%;
      gap: 24px;
    }

    &-label {
      margin: 0;
      color: $color-white;
      font-size: 20px;
      font-family: "Onest";
    }

    &-value {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 230px;
      font-size: 30px;
      font-weight: 400;
      font-family: "Bounded";
      color: $color-white;
      border-radius: 24px;
      background: $color-window-bg;
      box-shadow: inset 0 0 20px #BEBEBE40;

      @include media-breakpoint-down(xl){
        height: 120px;
      }

      @include media-breakpoint-down(lg){
        font-size: 32px;
      }
    }
  }
}
