services:
    app:
        container_name: x10-front
        image: x10-front
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        env_file:
            - .env
        environment:
            NODE_ENV: production
        ports:
            - "${APP_PORT:-3000}:3000"
