.what-we-give{
    position: relative;
    margin-top: 377px;
    &__container{
        display: flex;
        align-items: flex-start;
        
        gap: 80px;
        left: -115px;
    }

    &__left,
    &__right{
        flex: 1;
    }

    &__header{
        margin-bottom: 140px;
    }

    &__title{
        display: inline-block;
        font-size: 40px;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 32px;
    }
    &__text{
        font-size: 20px;
        font-family: "Onest";
        font-weight: 400;

        &-item{
            margin: 0;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 32px;
        &-item{
            height: 206px;
            padding: 24px 40px;
            border-radius: 24px;
            background: linear-gradient(90deg, #222222, transparent);
            display: flex;
            gap: 32px;

            &.active{
                background: linear-gradient(90deg, #00806E, transparent);
                .item__number{
                    background-color: #00CFB1;
                }
            }


            .item{
                &__number{
                    width: 75px;
                    height: 75px;
                    border-radius: 16px;
                    background-color: #434343;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);

                    &-num{
                        font-size: 40px;
                        font-weight: 300;
                        font-family: "Onest";
                    }
                }
                &__info{
                    &-title{
                        font-size: 28px;
                        font-family: "Bounded";
                        font-weight: 400;
                        line-height: 160%;
                        margin: 0 0 16px;
                    }
                    &-text{
                        font-size: 20px;
                        font-family: "Onest";
                        font-weight: 300;
                        line-height: 100%;
                        margin-bottom: 0;

                    }
                }
            }
        }
    }
}
    
    
