.stats{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 120px;

        @include media-breakpoint-down(xxl){
            gap: 60px;
        }

        @include media-breakpoint-down(xl){
            gap: 40px;
        }

        @include media-breakpoint-down(lg){
            gap: 60px;
        }

        @include media-breakpoint-down(md){
            gap: 40px;
        }
    }

    &__title{
        display: inline-block;
        font-size: 64px;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin: 0;

        @include media-breakpoint-down(xxl){
            font-size: 48px;
        }

        @include media-breakpoint-down(xl){
            font-size: 32px;
        }

        @include media-breakpoint-down(lg){
            font-size: 40px;
        }

        @include media-breakpoint-down(md){
            font-size: 20px;
        }
    }

    &__highlights{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 180px;

        @include media-breakpoint-down(xxl){
            gap: 120px;
        }

        @include media-breakpoint-down(xl){
            gap: 90px;
        }

        @include media-breakpoint-down(lg){
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }

        &-item{
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include media-breakpoint-down(xxl){
                gap: 24px;
            }

            @include media-breakpoint-down(xl){
                gap: 20px;
            }

            @include media-breakpoint-down(md){
                flex-direction: row;
                gap: 24px;
            }

            &__dot{
                position: relative;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: $color-accent;
                filter: blur(8px);
            }

            &__text{
                font-size: 32px;
                font-family: "Onest";
                font-weight: 400;
                margin: 0;

                :deep(span){
                    color: $color-accent;
                }

                @include media-breakpoint-down(xxl){
                    font-size: 24px;
                }

                @include media-breakpoint-down(xl){
                    font-size: 16px;
                }

                @include media-breakpoint-down(md){
                    width: 90%;
                    font-size: 14px;
                }
            }
        }
    }

    &__graph{
        width: 100%;

        &-image{
            width: 100%;
            margin-bottom: 24px;
        }

        &-caption{
            font-size: 20px;
            font-family: "Onest";
            font-weight: 300;
            text-align: center;
            margin: 0;

            @include media-breakpoint-down(xxl){
                font-size: 16px;
            }

            @include media-breakpoint-down(lg){
                font-size: 20px;
            }

            @include media-breakpoint-down(md){
                font-size: 12px;
            }
        }
    }


}
