.lifestyle-promo {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
      margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
      margin-top: 200px;
  }

  @include media-breakpoint-down(md){
      margin-top: 160px;
  }
  &__title {
    margin: 0 auto 80px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      margin: 0 auto 60px;
      font-size: 32px;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 auto 40px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 130px;

    @include media-breakpoint-down(xl) {
      gap: 78px;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__info {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    gap: 60px;

    @include media-breakpoint-down(xxl) {
      flex: 1 1 60%;
      gap: 65px;
    }

    @include media-breakpoint-down(xl) {
      flex: 1 1 50%;
    }

    @include media-breakpoint-down(lg) {
      gap: 110px;
    }

    @include media-breakpoint-down(md) {
      gap: 95px;
    }
    
    @include media-breakpoint-down(sm) {
      gap: 20px;
    } 
  }

  &__label {
    font-family: "Bounded";
    font-size: 80px;
    font-weight: 400;
    color: $color-accent;
    text-wrap: nowrap;

    @include media-breakpoint-down(xxl) {
      font-size: 48px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 32px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 60px;
    }

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  &__text {
    font-family: "Bounded";
    line-height: 160%;
    margin: 0;
    font-size: 28px;

    @include media-breakpoint-down(xxl) {
      font-size: 24px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &__gallery {
    flex: 0 0 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "top right"
      "bottom right"
      "bottom right";
    gap: 16px;
    height: clamp(220px, 26vw, 360px);

    @include media-breakpoint-down(xxl) {
      flex: 0 0 40%;

      grid-template-areas:
      "top right"
      "top right"
      "bottom right";
    }

    @include media-breakpoint-down(xl) {
      flex: 0 0 53%;
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      grid-template-areas:
      "top right"
      "bottom right";
    }
  }

  &__image {
    border-radius: 24px;
    overflow: hidden;

    &--1{ grid-area: top; }
    &--2{ grid-area: bottom; }
    &--3{ grid-area: right; }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}
