.qualification-income {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
      margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
      margin-top: 200px;
  }

  @include media-breakpoint-down(md){
      margin-top: 160px;
  }
  &__title {
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto 80px;

    @include media-breakpoint-down(xl) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include media-breakpoint-down(xl) {
      gap: 16px;
    } 

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
    }

    @include media-breakpoint-down(md) {
      gap: 8px;
    } 

  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 40px;
    padding: 32px 40px;
    border-radius: 24px;
    background: $color-window-bg;
    box-shadow: inset 0 0 20px #BEBEBE40;

    @include media-breakpoint-down(xl) {
      gap: 16px;
      padding: 20px;
    }

    @include media-breakpoint-down(lg) {
      gap: 40px;
      padding: 24px;
    }

    @include media-breakpoint-down(sm) {
      gap: 10px;
      padding: 16px;
    }


    &-level {
      font-family: "Bounded";
      font-size: 60px;
      font-weight: 400;
      color: $color-turquoise;

      @include media-breakpoint-down(xxl) {
        font-size: 48px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 24px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 40px;
      }

      @include media-breakpoint-down(md) {
        font-size: 14px;
        color: $color-white;
      }
    }

    &-volume {
      font-size: 24px;
      font-weight: 400;
      font-family: "Onest";
      width: -webkit-fill-available;
      display: inline-block;
      text-align: center;
      max-width: 410px;
      border-bottom: 1px solid $color-turquoise;
      padding-bottom: 9px;

      @include media-breakpoint-down(xxl) {
        font-size: 16px;
        max-width: 260px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 12px;
        max-width: 186px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 20px;
        max-width: 314px;
      }

      @include media-breakpoint-down(md) {
        font-size: 8px;
        max-width: 133px;
        border-color: $color-white;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 16px;

      @include media-breakpoint-down(xxl) {
        gap: 8px;
      }

      @include media-breakpoint-down(md) {
        gap: 0;
      }
    }

    &-network {
      color: $color-white;
      font-family: "Onest";
      font-size: 20px;
      text-wrap: nowrap;
      font-weight: 600;
      margin: 0;

      @include media-breakpoint-down(xxl) {
        font-size: 16px;
        gap: 8px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 14px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 20px;
      }

      @include media-breakpoint-down(md) {
        font-size: 10px;
        font-weight: 300;
      }
    }

    &-partners{
      p{
        margin: 0;
        line-height: 160%;
      }
      &__text{
        color: #9A9A9A;
        font-size: 16px;
        font-weight: 400;

        @include media-breakpoint-down(xxl) {
          font-size: 12px;
        }

        @include media-breakpoint-down(lg) {
          font-size: 16px;
        }

        @include media-breakpoint-down(md) {
          font-size: 10px;
          font-weight: 300;
        }
      }
      &__monthly{
        color: $color-white;
        font-weight: 600;
        font-size: 20px;
        text-wrap: nowrap;

        @include media-breakpoint-down(xxl) {
          font-size: 16px;
        }

        @include media-breakpoint-down(xl) {
          font-size: 14px;
        }

        @include media-breakpoint-down(lg) {
          font-size: 20px;
        }

        @include media-breakpoint-down(md) {
          font-size: 10px;
          font-weight: 300;
          color: $color-accent;
        }
      }
    }
  }
}
