.rating-bonus {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
      margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
      margin-top: 200px;
  }

  @include media-breakpoint-down(md){
      margin-top: 160px;
  }
  &__title {
    margin: 0 auto 40px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
  }

  &__highlight {
    font-family: "Bounded";
    font-size: 260px;
    color: $color-turquoise;
    text-shadow: 0 0 30px #FFFFFF, 0 0 60px #05FFDB;
    line-height: 100%;

    @include media-breakpoint-down(xl) {
      font-size: 200px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 150px;
    }

    @include media-breakpoint-down(md) {
      font-size: 96px;
      text-shadow: 0 0 20px #FFFFFF, 0 0 40px #05FFDB;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    min-width: 360px;
    font-family: "Onest";
    font-size: 20px;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      min-width: 100%;
    }
  }

  &__details-title {
    color: $color-accent;
    font-weight: 700;
  }

  &__details-note {
    opacity: 0.8;
  }
}
