.community{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 80px;

        @include media-breakpoint-down(xxl){
            gap: 60px;
        }

        @include media-breakpoint-down(md){
            gap: 40px;
        }
    }

    &__title{
        font-size: 40px;
        line-height: 100%;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;

        @include media-breakpoint-down(xl){
            font-size: 32px;
        }

        @include media-breakpoint-down(lg){
            font-size: 40px;
        }

        @include media-breakpoint-down(md){
            font-size: 20px;
        }
    }

    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(lg){
            flex-direction: column;
            gap: 60px;
        }

        @include media-breakpoint-down(md){
            gap: 40px;
        }

        &-info{
            width: 365px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            @include media-breakpoint-down(xl){
                width: 300px;
                gap: 40px;
            }

            @include media-breakpoint-down(lg){
                width: 100%;
                gap: 24px;
            }

            &__text{
                font-size: 20px;
                font-weight: 300;
                font-family: "Onest";
                line-height: 150%;
                margin: 0;

                @include media-breakpoint-down(xl){
                    font-size: 16px;
                }

                @include media-breakpoint-down(lg){
                    font-size: 20px;
                }

                @include media-breakpoint-down(md){
                    font-size: 14px;
                }
            }

            &__button{
                font-size: 20px;
                padding: 22px;

                @include media-breakpoint-down(xl){
                    padding: 16px;
                }

                @include media-breakpoint-down(lg){
                    padding: 22px;
                }

                @include media-breakpoint-down(md){
                    font-size: 14px;
                    padding: 16px;
                }
            }
        }

        &-cards{
            width: 50%;
            display: flex;
            gap: 24px;

            @include media-breakpoint-down(lg){
                width: 100%;
            }

            &__card{
                flex: 1;
                border-radius: 16px;
                max-width: calc(50% - 12px);
            }
        }
    }


}
