/* --- Onest --- */

@font-face {
    font-family: 'Onest';
    src: url('~/assets/fonts/Onest-Light.eot');
    src: local('~/assets/fonts/Onest Light'), local('Onest-Light'),
        url('~/assets/fonts/Onest-Light.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/Onest-Light.woff2') format('woff2'),
        url('~/assets/fonts/Onest-Light.woff') format('woff'),
        url('~/assets/fonts/Onest-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('~/assets/fonts/Onest-Regular.eot');
    src: local('~/assets/fonts/Onest Regular'), local('Onest-Regular'),
        url('~/assets/fonts/Onest-Regular.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/Onest-Regular.woff2') format('woff2'),
        url('~/assets/fonts/Onest-Regular.woff') format('woff'),
        url('~/assets/fonts/Onest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('~/assets/fonts/Onest-SemiBold.eot');
    src: local('~/assets/fonts/Onest SemiBold'), local('Onest-SemiBold'),
        url('~/assets/fonts/Onest-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~/assets/fonts/Onest-SemiBold.woff2') format('woff2'),
        url('~/assets/fonts/Onest-SemiBold.woff') format('woff'),
        url('~/assets/fonts/Onest-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* --- Bounded --- */

@font-face {
    font-family: 'Bounded';
    src: url('~/assets/fonts/Bounded-Regular.otf');
    src: local('~/assets/fonts/Bounded Regular'), local('Bounded-Regular'),
        url('~/assets/fonts/Bounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bounded';
    src: url('~/assets/fonts/Bounded-ExtraLight.otf');
    src: local('~/assets/fonts/Bounded ExtraLight'), local('Bounded-ExtraLight'),
        url('~/assets/fonts/Bounded-ExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* --- Inter --- */
//@font-face {
//  font-family: 'Inter';
//  src: url('~/assets/fonts/Inter-Regular.eot');
//  src: url('~/assets/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
//  url('~/assets/fonts/Inter-Regular.woff2') format('woff2'),
//  url('~/assets/fonts/Inter-Regular.woff') format('woff'),
//  url('~/assets/fonts/Inter-Regular.ttf') format('truetype');
//  font-weight: 400;
//  font-style: normal;
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Inter';
//  src: url('~/assets/fonts/Inter-Medium.eot');
//  src: url('~/assets/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
//  url('~/assets/fonts/Inter-Medium.woff2') format('woff2'),
//  url('~/assets/fonts/Inter-Medium.woff') format('woff'),
//  url('~/assets/fonts/Inter-Medium.ttf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//  font-display: swap;
//}
