$color-bg: #061715;
$color-accent: #FF5343;
$color-turquoise: #00CFB1;
$color-dark-green: #1F4A43;
$color-white: #FFFFFF;
$color-neutral: #EAEAEA;
$color-black-grey: #3A3A3A;
$color-black: #000000;
$color-window-bg: #0D2622;
$color-matcha: #56948B;

$breakpoints: (
  xxl: 1800px,
  xl: 1320px,
  lg: 910px,
  md: 700px,
  sm: 425px
);