$color-bg: #061715;
$color-accent: #FF5343;
$color-turquoise: #00CFB1;
$color-dark-green: #1F4A43;
$color-white: #FFFFFF;
$color-neutral: #EAEAEA;
$color-black-grey: #3A3A3A;
$color-black: #000000;

$breakpoints: (
  xl: 1400px,
  lg: 990px,
  md: 768px,
  sm: 375px
);