@use 'fonts';
@use 'variables' as *;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Onest', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: $color-bg;
  color: $color-white;
}

.container{
  width: 1800px;
  margin: 0 auto;

  @include media-breakpoint-down(xl){
    width: 1320px;
  }

  @include media-breakpoint-down(lg){
    width: 910px;
  }

  @include media-breakpoint-down(md){
    width: 768px;
  }

  @include media-breakpoint-down(sm){
    width: 375px;
  }
}