.hero{
    position: relative;
    &__container{
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: 80px;
        left: -115px;

        @include media-breakpoint-down(xl){
            gap: 40px;
            left: 0;
        }

        @include media-breakpoint-down(lg){
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            padding: 0 32px;
        }

        @include media-breakpoint-down(md){
            align-items: center;
            text-align: center;
        }
    }
    &__left{
        flex: 3;

        @include media-breakpoint-down(lg){
            width: 100%;
        }
    }

    &__logo{
        width: 1234px;
        height: 347px;
        margin: -42px -129px -42px 0px;
        & *{
            fill: #008B76;
        }

        @include media-breakpoint-down(xl){
            width: 900px;
            height: auto;
            margin: -20px -60px -20px 0;
        }

        @include media-breakpoint-down(lg){
            width: 100%;
            max-width: 820px;
            margin: 0;
        }

        @include media-breakpoint-down(md){
            max-width: 520px;
        }

        @include media-breakpoint-down(sm){
            max-width: 320px;
        }
    }

    &__right{
        flex: 2;

        @include media-breakpoint-down(lg){
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        @include media-breakpoint-down(md){
            align-items: center;
        }
    }

    &__title{
        display: inline-block;
        width: 677px;
        font-size: 48px;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;

        @include media-breakpoint-down(xl){
            width: 520px;
            font-size: 42px;
        }

        @include media-breakpoint-down(lg){
            width: 100%;
            font-size: 38px;
        }

        @include media-breakpoint-down(md){
            font-size: 32px;
        }

        @include media-breakpoint-down(sm){
            font-size: 24px;
        }
    }


}
