.extra-bonus {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
      margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
      margin-top: 200px;
  }

  @include media-breakpoint-down(md){
      margin-top: 160px;
  }
  &__title {
    margin: 0 auto 80px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      margin: 0 auto 40px;
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto 24px;
      font-size: 16px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;

    @include media-breakpoint-down(xxl) {
      gap: 65px;
    }

    @include media-breakpoint-down(xl) {
      gap: 100px;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 80px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include media-breakpoint-down(xl) {
      gap: 40px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 85px;

    @include media-breakpoint-down(xxl) {
      gap: 40px;
    }
  }

  &__value {
    width: 50%;
    font-family: "Bounded";
    font-size: 80px;
    color: $color-accent;

    @include media-breakpoint-down(xxl) {
      width: 40%;
      font-size: 60px;
    }

    @include media-breakpoint-down(xl) {
      width: 50%;
      font-size: 48px;
    }

    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
  }

  &__description {
    width: 50%;
    font-family: "Onest";
    font-weight: 300;
    font-size: 24px;

    @include media-breakpoint-down(xxl) {
      width: 60%;
    }

    @include media-breakpoint-down(xl) {
      width: 50%;
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }

  &__example {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media-breakpoint-down(md) {
      width: 100%;
      gap: 24px;
    }

    &-title {
      margin: 0;
      font-family: "Bounded";
      font-size: 28px;

      @include media-breakpoint-down(xl) {
        font-size: 24px;
      }

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }

    &-block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 64px;

      @include media-breakpoint-down(xxl) {
        gap: 60px;
      }

      @include media-breakpoint-down(xl) {
        gap: 40px;
      }

      @include media-breakpoint-down(md) {
        margin: 0 auto;
      }
    }

    &-row {
      display: inline-flex;
      flex-direction: column;
      align-items: stretch;
      width: fit-content;
      max-width: 100%;
      font-family: "Onest";
      font-size: 24px;

      @include media-breakpoint-down(md) {
        font-size: 18px;
        gap: 2px;
      }

      &.lite{
        @include media-breakpoint-down(md) {
          .extra-bonus__example-amount{
            font-size: 26px;
          }
        }
      }
    }

    &-amount {
      font-family: "Bounded";
      font-size: 60px;
      font-weight: 400;
      margin: 0;
      text-wrap: nowrap;

      @include media-breakpoint-down(xxl) {
        font-size: 48px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 24px;
      }

      @include media-breakpoint-down(lg) {
        font-size: 40px;
      }

      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }

    &-note {
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__text {
        white-space: nowrap;
        font-size: 20px;

        @include media-breakpoint-down(md) {
          font-size: 10px;
        }
      }
    }
  }
}
