.footer{
    position: relative;
    margin-top: 250px;
    height: 745px;

    @include media-breakpoint-down(xxl){
        height: 595px;
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        height: 430px;
        margin-top: 200px;
    }

    @include media-breakpoint-down(lg){
        height: 262px;
    }

    @include media-breakpoint-down(md){
        height: 274px;
        margin-top: 160px;
    }

    &__columns{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(lg){
            flex-direction: column;
            gap: 70px;
        }

        @include media-breakpoint-down(md){
            gap: 40px;
        }
    }

    &__title{
        width: 100%;
        display: none;
        font-size: 24px;
        line-height: 100%;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: $color-white;
        margin-bottom: 32px;

        @include media-breakpoint-down(lg){
            display: inline-block;
        }

        @include media-breakpoint-down(md){
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    &__column{
        @include media-breakpoint-down(lg){
            width: 100%;

            &:last-child{
                margin-bottom: 24px;
            }
        }

        &-list{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 40px;

            @include media-breakpoint-down(lg){
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            @include media-breakpoint-down(md){
                gap: 0;
            }

            
            &.links{
                @include media-breakpoint-down(md){
                    flex-direction: column;
                    gap: 16px;
                }
            }

            &__item{
                a{
                    color: $color-white;
                    font-size: 24px;
                    line-height: 100%;
                    font-weight: 400;
                    text-decoration: none;

                    @include media-breakpoint-down(xxl){
                        font-size: 16px;
                    }

                    @include media-breakpoint-down(xl){
                        font-size: 14px;
                    }
                }
            }
        }

        &-title{
            color: $color-white;
            font-family: "Bounded";
            font-size: 60px;
            line-height: 100%;
            font-weight: 400;
            text-decoration: none;
            text-transform: uppercase;

            @include media-breakpoint-down(xxl){
                font-size: 40px;
            }

            @include media-breakpoint-down(xl){
                font-size: 32px;
            }

            @include media-breakpoint-down(lg){
                display: none;
            }
        }
    }

    &__light{
        position: absolute;
        background: $color-accent;
        filter: blur(60px);
        width: 100%;
        height: 100px;
        opacity: 0.75;
        border-radius: 50%;
        bottom: 90px;

        @include media-breakpoint-down(lg){
            height: 40px;
            filter: blur(30px);
            bottom: 90px;
        }

        @include media-breakpoint-down(md){
            bottom: 40px;
        }
    }
}
