.bonuses{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }
    &__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media-breakpoint-down(lg){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }

    &__title{
        width: 50%;
        font-size: 60px;
        line-height: 150%;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        text-align: left;

        @include media-breakpoint-down(xxl){
            font-size: 48px;
        }

        @include media-breakpoint-down(xl){ 
            font-size: 32px;
        } 

        @include media-breakpoint-down(lg){
            width: 100%;
            font-size: 40px;
            text-align: center;
        }

        @include media-breakpoint-down(md){
            font-size: 20px;
            line-height: 100%;
        }
    }

    &__button{
        padding: 22px;
        font-size: 20px;
        width: 470px;
        font-family: "Onest";

        @include media-breakpoint-down(xxl){
            width: 480px;
        }

        @include media-breakpoint-down(xl){
            width: 325px;
            padding: 16px;
            font-size: 14px;
        }

        @include media-breakpoint-down(lg){
            padding: 22px;
            width: 470px;
            font-size: 20px;
        }

        @include media-breakpoint-down(md){
            padding: 16px;
            width: 100%;
            font-size: 14px;
        }
    }
}
