.strategy{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }
    &__container{
        height: 757px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("/images/strategy.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;

        @include media-breakpoint-down(xxl){
            height: 670px;
        }

        @include media-breakpoint-down(xl){
            height: 516px;
        }

        @include media-breakpoint-down(lg){
            height: 670px;
        }

        @include media-breakpoint-down(md){
            height: 224px;
            align-items: flex-start;
        }
    }

    &__title{
        position: relative;
        width: 100%;
        display: inline-block;
        font-size: 64px;
        line-height: 160%;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        z-index: 0;

        @include media-breakpoint-down(xxl){
            font-size: 48px;
        }

        @include media-breakpoint-down(xl){
            font-size: 32px;
        } 

        @include media-breakpoint-down(lg){
            font-size: 40px;
        }

        @include media-breakpoint-down(md){
            font-size: 14px;
            line-height: 120%;
            width: calc(100% - 10px);
        }

        &::before {
            height: 550px;
            width: 100%;
            content: "";
            position: absolute;
            top: -66%;
            left: 0;
            border-radius: 50%;
            background: #061715;
            filter: blur(90px);
            z-index: -1;

            @include media-breakpoint-down(xxl){
                height: 440px;
            }

            @include media-breakpoint-down(xl){
                height: 300px;
            }

            @include media-breakpoint-down(lg){
                height: 550px;
                top: -50%;
            }

            @include media-breakpoint-down(md){
                content: none;
            }
        }
    }


}
