.shareholder-bonus {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
    margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
    margin-top: 200px;
  }

  @include media-breakpoint-down(md){
    margin-top: 160px;
  }

  &__title {
    margin: 0 auto 40px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto 24px;
      font-size: 16px;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;

    aspect-ratio: 996 / 376;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      position: inherit;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      aspect-ratio: inherit;
      overflow: visible;
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    @include media-breakpoint-down(md) {
      position: inherit;
    }
  }

  &__center {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;

    @include media-breakpoint-down(xxl) {
      max-width: 230px;
      top: 40%;
    }

    @include media-breakpoint-down(xl) {
      top: 30%;
    }

    @include media-breakpoint-down(lg) {
      max-width: 150px;
      top: 40%;
    }

    @include media-breakpoint-down(md) {
      position: inherit;
      transform: translate(0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__percent {
    margin: 0;
    font-family: "Bounded";
    font-weight: 400;
    line-height: 1;
    color: $color-accent;
    font-size: 160px;

    @include media-breakpoint-down(xxl) {
      font-size: 120px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 80px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 60px;
    }

    @include media-breakpoint-down(ьв) {
      font-size: 40px;
    }
  }

  &__caption {
    margin: 10px 0 0;
    font-family: "Onest";
    font-size: 24px;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 10px;
    }
  }
}
