.hero{
    position: relative;
    margin-top: 227px;
    overflow: hidden;

    @include media-breakpoint-down(xl){
        margin-top: 100px;
    }

    @include media-breakpoint-down(md){
        margin-top: 50px;
    }

    &__container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;

        @include media-breakpoint-down(lg){
            flex-direction: column-reverse;
            gap: 20px;
        }

        @include media-breakpoint-down(md){
            gap: 100px;
        }
    }
    &__left{
        position: relative;
        width: 60%;

        @include media-breakpoint-down(md){
            width: 100%;
        }
    }

    &__logo{
        position: absolute;
        left: -140px;
        top: 50%;
        transform: translateY(-50%);
        display: block;

        @include media-breakpoint-down(lg){
            left: -260px;
        }

        @include media-breakpoint-down(md){
            left: -70px;
        }

        &-wrap{
            height: 430px;
            position: relative;

            @include media-breakpoint-down(xxl){
                height: 340px;
            }

            @include media-breakpoint-down(xl){
                height: 300px;
            }

            @include media-breakpoint-down(md){
                height: 230px;
            }
        }
    }

    &__right{
        width: 40%;

        @include media-breakpoint-down(lg){
            width: 100%;
            padding: 20px;
        }

        @include media-breakpoint-down(lg){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__title{
        display: inline-block;
        font-size: 48px;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 40px;
        width: 90%;

        @include media-breakpoint-down(xxl){
            font-size: 32px;
        }

        @include media-breakpoint-down(xl){
            font-size: 24px;
            width: 95%;
        }

        @include media-breakpoint-down(lg){
            font-size: 24px;
            width: 100%;
        }

        @include media-breakpoint-down(md){
            width: 66%;
            text-align: center;
            font-size: 20px;
            margin: 0 0 16px;
        }

        @include media-breakpoint-down(sm){
            width: 100%;
        }
    }

    &__link{
        width: 100%;
    }

    &__button{
        width: 233px;
        padding: 16px;
        font-family: "Onest";

        @include media-breakpoint-down(xl){
            width: auto;
        }

        @include media-breakpoint-down(xl){
            width: 233px;
        }

        @include media-breakpoint-down(md){
            width: 100%;
        }
    }

    &__label{
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
        width: 1800px;
        margin: 0 auto;

        @include media-breakpoint-down(xxl){
            width: 1320px;
            font-size: 24px;
        }

        @include media-breakpoint-down(xl){
            width: 910px;
            font-size: 16px;
        }

        @include media-breakpoint-down(lg){
            width: auto;
            padding: 20px;
        }

        @include media-breakpoint-down(md){
            display: none;
        }
    }

    &__mobile-label{
        display: none;  
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        margin: 0;

        @include media-breakpoint-down(md){
            display: block;
            margin-bottom: 40px;
        }
    }
}
