.bonuses {
  display: flex;
  justify-content: center;
  margin-top: 250px;

  @include media-breakpoint-down(xxl){ margin-top: 230px; }
  @include media-breakpoint-down(xl){  margin-top: 200px; }
  @include media-breakpoint-down(md){  margin-top: 160px; }

  &__title {
    position: relative;
    margin: 0;
    font-family: "Onest";
    font-weight: 900;
    font-size: 395px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: $color-dark-green;
    -webkit-font-smoothing: antialiased;

    text-shadow: 0 0 60px rgba(255, 255, 255, 0.12);

    @include media-breakpoint-down(xxl) { font-size: 280px; }
    @include media-breakpoint-down(xl)  { font-size: 200px; }
    @include media-breakpoint-down(lg)  { font-size: 160px; }
    @include media-breakpoint-down(md)  { font-size: 75px; }

    &::before {
      content: attr(data-text);
      position: absolute;
      inset: 0;
      pointer-events: none;

      background: linear-gradient(
        0deg,
        rgba(#00715F, 0) 0%,
        rgba($color-turquoise, 1) 50%,
        rgba(#00715F, 0) 100%
      );

      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      opacity: 1;
    }
  }
}
