.income{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(lg){
            flex-direction: column;
            gap: 40px;
        }
    }

    &__info,
    &__graph{
        width: 50%;

        @include media-breakpoint-down(lg){
            width: 100%;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        gap: 40px;

        @include media-breakpoint-down(lg){
            gap: 24px;
        }

        @include media-breakpoint-down(md){
            gap: 40px;
        }
         
        &-title{
            display: inline-block;
            font-size: 40px;
            font-family: "Bounded";
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            z-index: 0;

            @include media-breakpoint-down(xxl){
                font-size: 32px;
            }

            @include media-breakpoint-down(xl){
                font-size: 24px;
            }

            @include media-breakpoint-down(lg){
                font-size: 40px;
            }

            @include media-breakpoint-down(md){
                font-size: 20px;
            }
        }

        &-income{
            font-family: "Bounded";
            font-size: 90px;
            letter-spacing: 8px;
            line-height: 160%;
            font-weight: 400;
            color: $color-turquoise;
            text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);

            @include media-breakpoint-down(xl){
                font-size: 40px;
            }

            @include media-breakpoint-down(lg){
                font-size: 90px;
            }

            @include media-breakpoint-down(md){
                font-size: 54px;
                letter-spacing: 2px;
            }
        }
    }

    &__graph{
        &-image{
            width: 885px;
            height: 480px;

            @include media-breakpoint-down(xxl){
                width: 100%;
                height: auto;
            }
        }
        &-caption{
            font-family: "Onest";
            font-size: 20px;
            font-weight: 300;
            text-align: center;

            @include media-breakpoint-down(xl){
                font-size: 16px;
            }

            @include media-breakpoint-down(lg){
                font-size: 20px;
            }

            @include media-breakpoint-down(md){
                font-size: 12px;
            }
        }
    }


}
