.profitability {
  margin-top: 250px;
  background-color: $color-accent;

  @include media-breakpoint-down(xxl){
    margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
    margin-top: 200px;
  }

  @include media-breakpoint-down(md){
    margin-top: 160px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 80px 0;

    @include media-breakpoint-down(xl){
      padding: 60px 0;
    }

    @include media-breakpoint-down(lg){
      padding: 24px 0;
    }

    @include media-breakpoint-down(md){
      padding: 32px 0;
    }
  }

  &__title {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 40px;
    font-family: "Bounded";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index: 0;
    margin: 0 0 100px;

    @include media-breakpoint-down(xl){
      font-size: 32px;
      margin: 0 0 60px;
    }

    @include media-breakpoint-down(lg){
      font-size: 40px;
      margin: 0 0 40px;
    }

    @include media-breakpoint-down(md){
      font-size: 20px;
    }
  }

  &__slider {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md){
      height: 350px;
    }

    @include media-breakpoint-down(sm){
      height: 300px;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;

    @include media-breakpoint-down(md){
      padding-top: 30px;
    }

    :deep(.swiper-wrapper){
      display: flex;
      align-items: center;
    }

    :deep(.swiper-slide) {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    :deep(.swiper-pagination-bullets) {
      bottom: 0px;
    }

    :deep(.swiper-pagination-bullet) {
      background: $color-bg;
      opacity: 1;
      width: 8px;
      height: 8px;
      margin: 0 4px !important;
    }

    :deep(.swiper-pagination-bullet-active) {
      background: $color-matcha;
    }
  }

  &__card {
    position: relative;
    width: auto;
    border-radius: 24px;
    overflow: hidden;
    transform: scale(0.8);
    transform-origin: center center;
    transition: transform 0.3s ease;

    @include media-breakpoint-down(md){
      height: 100%;
    }
  }

  :deep(.swiper-slide-active .profitability__card) {
    transform: scale(1);

    @include media-breakpoint-down(md){
      height: 100%;
    }
  }

  :deep(.swiper-slide-next .profitability__card),
  :deep(.swiper-slide-prev .profitability__card) {
    transform: scale(0.9);
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  @include media-breakpoint-down(md){
    :deep(.swiper-slide-next .profitability__card) {
      transform: scale(0.9) rotate(-10deg) translate(-75px, -60px);
    }

    :deep(.swiper-slide-prev .profitability__card) {
      transform: scale(0.9) rotate(10deg) translate(75px, -60px);
    }

    :deep(.swiper-slide-active .profitability__card) {
      transform: scale(1) rotate(0deg);
    }
  }
}
