.rebate-bonus {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){
      margin-top: 230px;
  }

  @include media-breakpoint-down(xl){
      margin-top: 200px;
  }

  @include media-breakpoint-down(md){
      margin-top: 160px;
  }
  &__title {
    margin: 0 auto 24px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__subtitle {
    margin: 12px 0 32px;
    font-size: 24px;
    font-weight: 300;

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 16px;
    background: rgba($color-white, 0.02);
    box-shadow: inset 0 -2px 0 0 $color-turquoise;
    font-family: "Onest";
    text-align: center;
  }

  &__label {
    font-size: 16px;
    opacity: 0.85;
  }

  &__line {
    width: 2px;
    height: 90px;
    background: $color-turquoise;
  }

  &__value {
    font-family: "Bounded";
    font-size: 20px;
  }
}
