.income{
    margin-top: 250px;
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info,
    &__graph{
        width: 50%;
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        gap: 40px;
        &-title{
            display: inline-block;
            font-size: 40px;
            font-family: "Bounded";
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            z-index: 0;
        }
        
        &-income{
            font-family: "Bounded";
            font-size: 90px;
            letter-spacing: 8px;
            line-height: 160%;
            font-weight: 400;
            color: $color-turquoise;
            text-shadow:
                0 0 12px rgba(255, 255, 255, 0.5),
        }
    }

    &__graph{
        &-image{
            width: 885px;
            height: 480px;
        }
        &-caption{
            font-family: "Onest";
            font-size: 20px;
            font-weight: 300;
            text-align: center;
        }
    }


}
