.hero{
    margin-top: 137px;
    overflow: hidden;

    @include media-breakpoint-down(xxl){
        margin-top: 180px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 66px;
    }

    @include media-breakpoint-down(lg){
        margin-top: 44px;
    }

    @include media-breakpoint-down(md){
        margin-top: 96px;
    }

    // &::before {
    //     background: $color-turquoise;
    //     border-radius: 50%;
    //     content: "";
    //     filter: blur(100px);
    //     height: 90%;
    //     right: 10%;
    //     position: absolute;
    //     top: -10%;
    //     width: 1000px;
    //     opacity: 50%;
    //     z-index: -1;
    //     transform: rotate(140deg);

    //     @include media-breakpoint-down(xl){
    //         height: 60%;
    //         right: -15%;
    //     }

    //     @include media-breakpoint-down(lg){
    //         width: 300px;
    //         transform: rotate(45deg);
    //         right: 0;
    //     }
    // }

    // &::after {
    //     background: $color-white;
    //     border-radius: 50%;
    //     content: "";
    //     filter: blur(100px);
    //     height: 300px;
    //     right: 10%;
    //     position: absolute;
    //     top: 20%;
    //     width: 1000px;
    //     z-index: -1;
    //     opacity: 50%;
    //     transform: rotate(140deg);

    //     @include media-breakpoint-down(xl){
    //         height: 30%;
    //         right: -15%;
    //         top: 10%;
    //     }

    //     @include media-breakpoint-down(lg){
    //         width: 500px;
    //         height: 15%;
    //     }
    // }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 106px;
    }

    &__line{
        width: 100%;

        &.logo{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin: 0px auto;
            width: 1800px;

            @include media-breakpoint-down(xxl){
                width: 1320px;
            }

            @include media-breakpoint-down(xl){
                width: 910px;
            }

            @include media-breakpoint-down(lg){
                width: calc(100% - 40px);
                margin: 0px 20px;
            }
        }

        &.label{
            font-family: "Bounded";
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 auto 64px;
            width: 1800px;

            @include media-breakpoint-down(xxl){
                width: 1320px;
                font-size: 32px;
            }

            @include media-breakpoint-down(xl){
                width: 910px;
                font-size: 24px;
            }

            @include media-breakpoint-down(lg){
                width: calc(100% - 40px);
                margin: 0px 20px 64px;
            }

            @include media-breakpoint-down(md){
                font-size: 18px;
            }

            p{
                margin: 0 ;
            }
        }
    }

    &__logo{
        display: block;
        width: 834px;
        height: 234px;

        @include media-breakpoint-down(xxl){
            width: 672px;
            height: 190px;
        }

        @include media-breakpoint-down(xl){
            width: 533px;
            height: 150px;
        }

        @include media-breakpoint-down(lg){
            width: 435px;
            height: 120px;
        }

        @include media-breakpoint-down(md){
            width: 308px;
            height: 86px;
            margin-right: -60px;
        }
    }

    &__running-line{
        font-family: "Bounded";
        font-size: 120px;
        font-weight: 400;
        text-transform: uppercase;
        text-wrap: nowrap;

        @include media-breakpoint-down(xl){
            font-size: 60px;
        }

        @include media-breakpoint-down(md){
            font-size: 40px;
        }
    }
}
