.hero{
    margin-top: 137px;
    overflow: hidden;

    @include media-breakpoint-down(xxl){
        margin-top: 180px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 66px;
    }

    @include media-breakpoint-down(lg){
        margin-top: 44px;
    }

    @include media-breakpoint-down(md){
        margin-top: 96px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        gap: 106px;
    }

    &__line{
        width: 100%;

        &.logo{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin: 0px auto;
            width: 1800px;

            @include media-breakpoint-down(xxl){
                width: 1320px;
            }

            @include media-breakpoint-down(xl){
                width: 910px;
            }

            @include media-breakpoint-down(lg){
                width: calc(100% - 40px);
                margin: 0px 20px;
            }
        }

        &.label{
            font-family: "Bounded";
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0 auto 64px;
            width: 1800px;

            @include media-breakpoint-down(xxl){
                width: 1320px;
                font-size: 32px;
            }

            @include media-breakpoint-down(xl){
                width: 910px;
                font-size: 24px;
            }

            @include media-breakpoint-down(lg){
                width: calc(100% - 40px);
                margin: 0px 20px 64px;
            }

            @include media-breakpoint-down(md){
                font-size: 18px;
            }

            p{
                margin: 0 ;
            }
        }
    }

    &__logo{
        display: block;
        width: 834px;
        height: 234px;

        @include media-breakpoint-down(xxl){
            width: 672px;
            height: 190px;
        }

        @include media-breakpoint-down(xl){
            width: 533px;
            height: 150px;
        }

        @include media-breakpoint-down(lg){
            width: 435px;
            height: 120px;
        }

        @include media-breakpoint-down(md){
            width: 308px;
            height: 86px;
            margin-right: -60px;
        }
    }

    &__running-line{
        font-family: "Bounded";
        font-size: 120px;
        font-weight: 400;
        text-transform: uppercase;
        text-wrap: nowrap;
        overflow: hidden;
        opacity: 0.1;

        @include media-breakpoint-down(xl){
            font-size: 60px;
        }

        @include media-breakpoint-down(md){
            font-size: 40px;
        }
    }

    &__running-track{
        display: inline-flex;
        align-items: center;
        gap: 64px;
        width: max-content;
        animation: hero-running 30s linear infinite;

        @include media-breakpoint-down(xl){
            gap: 32px;
        }
    }

    &__running-text{
        display: inline-flex;
        align-items: center;
    }
}

@keyframes hero-running {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
