.extension {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){ margin-top: 230px; }
  @include media-breakpoint-down(xl){  margin-top: 200px; }
  @include media-breakpoint-down(md){  margin-top: 160px; }

  &__title {
    margin: 0 auto 70px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      margin: 0 auto 60px;
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      margin: 0 auto 40px;
      font-size: 20px;
    }
  }

  &__content {
    position: relative;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("/images/sphere.png") center / contain no-repeat;

    @include media-breakpoint-down(lg) {
      background-size: cover;
    }

    &::before {
      background: $color-accent;
      border-radius: 50%;
      content: "";
      filter: blur(300px); 
      position: absolute;
      top: 50%;
      width: 500px;
      height: 50%;
      left: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }

  &__row {
    width: min(100%, 814px);
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 12px;

    @include media-breakpoint-down(xl) {
      width: 666px;
    }

    @include media-breakpoint-down(lg) {
      width: 550px;
    }

    @include media-breakpoint-down(md) {
      width: calc(100% - 80px);
    }

    @include media-breakpoint-down(sm) {
      width: calc(100% - 40px);
    }

    &:not(:last-child) {
      margin-bottom: 70px;
    }

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 60px;

      @include media-breakpoint-down(lg) {
        gap: 40px;
      }

      @include media-breakpoint-down(md) {
        gap: 20px;
      }

      @include media-breakpoint-down(md) {
        gap: 10px;
      }
    }

    &-bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
    }
  }

  &__vp {
    flex: 0 0 330px;
    margin: 0;
    font-family: "Bounded";
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: $color-accent;
    white-space: nowrap;

    @include media-breakpoint-down(xl) {
      flex: 0 0 270px;
      font-size: 48px;
    }

    @include media-breakpoint-down(lg) {
      flex: 0 0 220px;
      font-size: 40px;
    }

    @include media-breakpoint-down(md) {
      flex: initial;
      font-size: 32px;
    }     
    
    @include media-breakpoint-down(md) {
      flex: initial;
      font-size: 24px;
    } 
  }

  &__arrow {
    flex: 0 0 40px;
  }

  &__sub {
    flex: 0 0 330px;
    margin: 0;
    font-family: "Onest";
    font-size: 20px;
    line-height: 100%;
    font-weight: 300;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      flex: initial;
      font-size: 10px;
    }   
  }

  &__right {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 360px;

    &-title {
      flex: 0 0 260px;
      margin: 0;
      font-family: "Bounded";
      font-size: 28px;
      font-weight: 400;
      line-height: 1.2;
      white-space: nowrap;

      @include media-breakpoint-down(xl) {
        flex: inherit;
        font-size: 24px;
      }

      @include media-breakpoint-down(md) {
        font-size: 14px;
      } 
    }

    &-sub {
      flex: 0 0 260px;
      margin: 0;
      font-family: "Onest";
      font-size: 20px;
      line-height: 100%;
      font-weight: 300;

      @include media-breakpoint-down(xl) {
        flex: inherit;
        font-size: 16px;
      }

      @include media-breakpoint-down(md) {
        font-size: 10px;
      }
    }
  }
}
