.extension {
  margin-top: 250px;

  @include media-breakpoint-down(xxl){ margin-top: 230px; }
  @include media-breakpoint-down(xl){  margin-top: 200px; }
  @include media-breakpoint-down(md){  margin-top: 160px; }

  &__title {
    margin: 0 auto 70px;
    text-align: center;
    font-family: "Bounded";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__content {
    position: relative;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("/images/sphere.png") center / contain no-repeat;
    overflow: hidden;

    &::before {
      background: $color-accent;
      border-radius: 50%;
      content: "";
      filter: blur(300px);
      height: 350px;
      left: 50%;
      opacity: 0.6;
      position: absolute;
      top: 50%;
      width: 500px;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }

  &__row {
    width: min(100%, 814px);
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 12px;

    &:not(:last-child) {
      margin-bottom: 70px;
    }

    &-top {
      display: flex;
      align-items: center;      // чтобы текст визуально ровнее сел
      justify-content: center;    // центрируем строку
      gap: 60px;
    }

    &-bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 24px;
    }
  }

  &__vp {
    flex: 0 0 330px;
    margin: 0;
    font-family: "Bounded";
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
    color: $color-accent;
    white-space: nowrap;
  }

  &__arrow {
    flex: 0 0 40px;
    font-family: "Bounded";
    font-size: 24px;
    color: $color-accent;
    line-height: 1;
    text-align: center;
  }

  &__sub {
    flex: 0 0 330px;
    margin: 0;
    font-family: "Onest";
    font-size: 20px;
    line-height: 100%;
    font-weight: 300;
  }

  &__right {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 360px;

    &-title {
      flex: 0 0 260px;
      margin: 0;
      font-family: "Bounded";
      font-size: 22px;
      font-weight: 400;
      line-height: 1.2;
      white-space: nowrap;
    }

    &-sub {
      flex: 0 0 260px;
      margin: 0;
      font-family: "Onest";
      font-size: 20px;
      line-height: 100%;
      font-weight: 300;
    }
  }
}
