.conversion{
    margin-top: 250px;

    @include media-breakpoint-down(xxl){
        margin-top: 230px;
    }

    @include media-breakpoint-down(xl){
        margin-top: 200px;
    }

    @include media-breakpoint-down(md){
        margin-top: 160px;
    }
    &__container{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 80px;
        background: url("/images/conversion.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        line-height: 160%;
        font-family: "Bounded";
        font-weight: 400;
        text-transform: uppercase;

        @include media-breakpoint-down(xl){
            font-size: 32px;
        }

        @include media-breakpoint-down(md){
            font-size: 20px;
        }
    }

    &__list{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;

        @include media-breakpoint-down(xxl){
            gap: 60px;
        }

        @include media-breakpoint-down(xl){
            gap: 40px;
        }

        @include media-breakpoint-down(lg){
            gap: 36px;
        }

        @include media-breakpoint-down(md){
            gap: 40px;
        }

        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            @include media-breakpoint-down(md){
                gap: 4px;
            }

            &__label{
                font-size: 20px;
                font-weight: 300;
                margin: 0;

                @include media-breakpoint-down(md){
                    font-size: 14px;
                }
            }

            &__text{
                font-family: "Bounded";
                font-size: 64px;
                font-weight: 400;
                margin: 0;
                text-transform: uppercase;

                @include media-breakpoint-down(xxl){
                    font-size: 48px;
                }

                @include media-breakpoint-down(xl){
                    font-size: 24px;
                }

                @include media-breakpoint-down(lg){
                    font-size: 32px;
                }

                @include media-breakpoint-down(md){
                    font-size: 18px;
                }
            }
            
        }
    }

    
}
