.profitability {
  margin-top: 250px;
  background-color: $color-accent;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
  }

  &__title {
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 64px;
    font-family: "Bounded";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index: 0;
    margin: 0 0 100px;
  }

  &__slider {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
  }

  &__swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;

    :deep(.swiper-slide) {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
      transition: opacity 0.3s ease;
    }

    :deep(.swiper-slide-active) {
      opacity: 1;
    }

    :deep(.swiper-slide-next),
    :deep(.swiper-slide-prev) {
      opacity: 0.8;
    }

    :deep(.swiper-pagination-bullets) {
      bottom: 0px;
    }

    :deep(.swiper-pagination-bullet) {
      background: $color-bg;
      opacity: 1;
      width: 8px;
      height: 8px;
      margin: 0 4px !important;
    }

    :deep(.swiper-pagination-bullet-active) {
      background: $color-black;
    }
  }

  &__card {
    position: relative;
    width: 100%;
    max-width: 640px;
    height: 100%;
    border-radius: 24px;
    overflow: hidden;
    transform: scale(0.85);
    transform-origin: center center;
    transition: transform 0.3s ease;
  }

  :deep(.swiper-slide-active .profitability__card) {
    transform: scale(1);
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
